<h1>This is root!</h1>
<form>
  <label>Poll</label><br>
  <input name="poll[body]" type="text">
</form>
  <label>Answers</label>
<form>
  <input name="answer_choice[body]" type="text">
</form>
<form>
  <input name="answer_choice[body]" type="text">
</form>
<button>Submit</button>