<h1>This is root!</h1>
<div id="poll-form">
  <form>
    <label>Poll</label><br>
    <input name="poll[body]" type="text">
  </form>
    <label>Answers</label>
  <form>
    <input class="answer-choice" name="answer_choice[body]" type="text">
  </form>
  <form>
    <input class="answer-choice" name="answer_choice[body]" type="text">
  </form>
</div>
<button>Submit</button>

<script>
$(PollApp.initialize);
// $("form").on("click", function() {
//   var $newForm = $("<form>");
//   $newForm.html(
//     '<input class="answer-choice" name="answer_choice[body]" type="text">'
//   )
//   $("#poll-form").append($newForm)
// });
// </script>