<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Sign In</h1>

<%= render partial: "users/form", locals: { action: session_url, message: "Log In" } %>

  </div>
  
  <%= render partial: "users/guest_login" %>
  <script>
  function formFill() {
      $("#user_username").val("guest");
      $("#user_password").val("password");
      $(".submit-auth").click();
  };
  
  if (window.location.toString() === "<%= new_session_url %>" + "?guest=true") {
    formFill();
  }
  
  $("button.guest-login").on('click', formFill);
  </script>
</div>