<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Sign In</h1>

<%= render partial: "users/form", locals: { action: session_url, message: "Log In" } %>

  </div>
  
  <%= render partial: "users/guest_login" %>
</div>
