<a href="#/polls/<%= poll.id %>" class="poll-link">
  <%= poll.escape("body") %>
</a> 
<a href="#/polls/<%= poll.id %>/results" class="poll-result-link">
  <span class="glyphicon glyphicon-stats">
</a>

<%= poll.total_responses() %>
