<div class="row">
  <div id="poll-container" class="col-xs-4 col-xs-offset-4">
    <a href="#" class="home-link">Back to Polls</a>
    <span class="pull-right share-link" title="Get short url"><a>Share this</a></span>
    <div id="poll-header">
      <h2><%= poll.escape('body') %></h2>
    </div>
  
    <div id="poll-choices">
    </div>
  </div>
</div>