<div class="row">
  <div id="poll-container" class="col-xs-4 col-xs-offset-4">
    <div id="poll-header">
      <h2><%= poll.escape('body') %></h2>
    </div>
  
    <div id="poll-choices">
    </div>
    <a href="#">Back to Polls</a>
  </div>
</div>