<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Sign Up</h1>

        <%= render partial: "form", locals: { action: users_url, message: "Sign Up" } %>
  </div>
  <%= render partial: "guest_login" %>
</div>