<input
  type="text"
  class="form-control choice-form-input make-way-for-buttons"
  name="poll[answer_choices_attributes][][body]">
<span
  class="glyphicon glyphicon-move"
  title="Reorder choice"></span>
<span
  class="glyphicon glyphicon-remove remove-choice"
  title="Remove choice"></span>
