<label class="col-sm-3 control-label choice-form-label">
  Answer Choice:
</label>
<div class="col-sm-9">
  <input 
  type="text" 
  class="form-control choice-form-input make-way-for-buttons" 
  name="poll[answer_choices_attributes][][body]">
  <span 
    class="glyphicon glyphicon-move btn btn-default"  
    title="Reorder choice"></span>
  <span 
    class="glyphicon glyphicon-remove btn btn-default remove-choice"
    title="Remove choice"></span>
</div>