<label class="col-sm-3 control-label choice-form-label">Answer Choice:</label>
<div class="col-sm-7">
  <input type="text" class="form-control choice-form-input" name="poll[answer_choices_attributes][][body]">
</div>

<div class="col-sm-1">
  <span class="btn btn-default reorder-choice glyphicon glyphicon-move"  title="Reorder choice"></span>
  <button type="button" class="btn btn-default remove-choice" title="Remove choice">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>