<label class="choice-form-label">Answer Choice:</label>
  <input type="text" class="choice-form-input">
<button type="button" class="btn btn-default btn-sm remove-choice">
  <span class="glyphicon glyphicon-remove"></span>
</button>