<div class="row">
  <div id="poll-container" class="col-xs-4 col-xs-offset-4">
    <a href="#">Back to Polls</a>
    <form id="poll-new">
      <div id="poll-header">
        <h2>Create A Poll</h2>
        <label for="poll_body">Question:</label><input type="text" id="poll_body" name="poll[body]" autofocus>
      </div>
  
      <div id="poll-choices">
      </div>
  </form>
  <button class="btn btn-primary new-choice">Add Answer Choice</button>
  <button class="btn btn-primary submit-poll">Submit</button>
  </div>
</div>