<td>
  <% if (CURRENT_USER_ID === poll.get("user_id")) { %>
    <a type="button" class="delete-poll">
      <span title="Delete your poll" type="button" class="glyphicon glyphicon-trash btn btn-danger btn-xs">
    </a>
  <% } %>
  <a href="#/polls/<%= poll.id %>/results" class="poll-link">
    <% var pollBody = poll.escape("body") %>
    <% if (pollBody.length > 40) { %>
      <%= pollBody.slice(0, 40) + '...' %>
    <% } else { %>
      <%= pollBody %>
    <% } %>
  </a>
</td>

<td>
  <% var response = poll.responses().findWhere( {respondent_id: CURRENT_USER_ID }) %>
  <%= poll.answerChoices().get(response.get("answer_choice_id")).escape("body") %>
</td>