<div class="row">
  <div id="poll-container" class="col-xs-4 col-xs-offset-4">
    <a href="#" class="home-link">Back to Polls</a>
    <div id="poll-header">
      <h2><%= poll.escape('body') %></h2>
    </div>
  
    <div id="result-chart">
    </div>
  </div>
</div>