<div class="row">
  <div id="poll-container" class="col-xs-6 col-xs-offset-3">
    <a href="#" class="pull-left btn home-link">Back to Polls</a>
    <span class="pull-right btn share-link" title="Get short url"><a>Share this</a></span>
    <div class="clearfix"></div>
    <div id="poll-header">
      <h2><%= poll.escape('body') %></h2>
    </div>

    <div id="result-chart">
    </div>
  </div>
</div>
