<div id="poll-container">
  <div id="poll-header">
    <h2><%= poll.escape('body') %></h2>
  </div>
  
  <div id="result-chart">
  </div>
  
  <div id="poll-choices">
  </div>
  <a href="#">Back to Polls</a>
</div>